main{
    padding: 50px 150px;
}

.section{
    display: flex;
    gap: 1rem;
    margin: 50px 0;
}

.favorito {
    width: 190px;
    height: 275px;
    border-radius: 12px;
    font-size: var(--sm);
}
.favorito img{
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.favorito div{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.favorito button{
    font-weight: bolder;
}

.favorito button,
.eliminar,
.favorito:hover span{
    display: none;
}

.favorito:hover button,
.favorito:hover .eliminar{
    display: block;
}

.favorito:hover{
    border: 1px solid var(--very-light-pink);
}

.favorito:hover div{
    padding: 10px 7px;
    align-items: center;
    justify-content: center;
}

.eliminar{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    width: 59px;
    cursor: pointer;
}

.eliminar:hover{
    color: var(--hospital-green);
}
