.container-perfil{
    display: flex;
    gap: 30px;
}
.container-foto-perfil figure{
    margin-bottom: 0;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-foto-perfil button{
    background-color: var(--very-light-pink);
    font-size: var(--sm);
    padding: 8px;
    border-radius: 7px;
    width: 130px;
    font-weight: bolder;
    margin-top: 8px;
}
.container-foto-perfil button:hover{
    background-color: var(--hospital-green);
}
.container-foto-perfil img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    margin: 10px 0;
}
.container-foto-perfil figcaption{
    font-weight: bold;
}