.layoutGeneral{
    width: 100%;
}
.navegacion-clientes-links{
    margin-top: 66px;
    background-color: var(--text-input-field);
    padding: 4px 10px;
}
.navegacion-clientes-links .link,
.navegacion-perfil .link{
    text-decoration: none;
    padding: 0 7px;
    color: var(--black);
    font-weight: 400;
    font-size: var(--sm);
}
.navegacion-perfil{
    padding: 4px 10px;
    border-bottom: 1px solid var(--very-light-pink);
}
.navegacion-perfil .link{
    color: var(--black);
    font-weight: 300;
    padding: 0 10px;
}
.section-perfil-cliente{
    padding: 24px;
}
.content-perfil{
    display: grid;
    grid-template-columns: auto auto auto;
}

